*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
#calc{
    width: 400px;
    padding: .5em;
    background-color: #000;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}
#operations{
    text-align: right;
}
#previous-operationn,
#current-operation{
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#previous-operationn{
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}    

#current-operation{
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button{
    border: 1px solid transparent;
    border-radius: 100px ;
    height: 5em;
    font-size: 1.2em;
    cursor: pointer;
}
.number{
    background-color: #666;
    color: #ffffff;
}

#buttons-container #button-zero{
    grid-column: span 2;
    background-color: #666;
    color: #ffffff;

}

#laranja{
    background-color: orange;
    color: #ffffff;
}

#outros{
    background-color: #999;
    font-size: 1.5em;
}